@model EntityLayer.Concrete.Admin

@{
    ViewData["Title"] = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Admin Girişi</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    <input type="text" class="form-control" placeholder="başlık giriniz" asp-for="Username">
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input type="password" class="form-control" placeholder="başlık giriniz" asp-for="Password">
                </div>
                <button type="submit" class="btn btn-outline-info">Kaydet</button>
            </form>
        </div>
    </div>
</div>
