@model EntityLayer.Concrete.Address

@{
    ViewData["Title"] = "EditAddress";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Adres Bilgisi Güncelleme Sayfası</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    @Html.HiddenFor(x => x.AddressID)

                    <label for="exampleInputName1">Açıklama 1</label>
                    <span asp-validation-for="Description1" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder="Açıklama 1" asp-for="Description1">
                    <br />

                    <label for="exampleInputName1">Açıklama 2</label>
                    <span asp-validation-for="Description2" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder="Açıklama 2" asp-for="Description2">
                    <br />

                    <label for="exampleInputName1">Açıklama 3</label>
                    <span asp-validation-for="Description3" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder="Açıklama 3" asp-for="Description3">
                    <br />

                    <label for="exampleInputName1">Açıklama 4</label>
                    <span asp-validation-for="Description4" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder="Açıklama 4" asp-for="Description4">
                    <br />

                    <label for="exampleInputName1">Harita Konumu</label>
                    <span asp-validation-for="Mapinfo" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder="Harita Bilgisi" asp-for="Mapinfo">
                    <br />
                </div>
                <button type="submit" class="btn btn-outline-info">Kaydet</button>
            </form>
        </div>
    </div>
</div>


