@using EntityLayer.Concrete
@model List<Address>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Adres Listesi</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Açıklama 1</th>
                            <th>Açıklama 2</th>
                            <th>Açıklama 3</th>
                            <th>Açıklama 4</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Description1</td>
                                <td>@item.Description2</td>
                                <td>@item.Description3</td>
                                <td>@item.Description4</td>
                                <td><a href="/Address/EditAddress/@item.AddressID" class="btn btn-outline-success">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
        </div>
    </div>
</div>
