
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Excel Raporları</h2>
<div class="form-group">
    <a href="/Report/StaticReport/" class="btn btn-outline-info">Statik Rapor</a>
</div>

<div class="form-group">
    <a href="/Report/ContactReport/" class="btn btn-outline-primary">Mesaj Raporları</a>
</div>

<div class="form-group">
    <a href="/Report/AnnouncementReport/" class="btn btn-outline-primary">Duyuru Raporları</a>
</div>
