@using EntityLayer.Concrete
@model List<Image>
<div class="gallery" id="gallery">
    <div class="container">
        <h3 class="tittle">Fotoğraf Galerisi</h3>
        <p class="heading-btm-w3ls">Organik ürünlerimiz ve bahçelerimizden görseller.</p>
        <div class="agile_gallery_grids w3-agile">
            <ul class="clearfix demo">
               @foreach (var item in Model)
               {
                <li>
                    <div class="gallery-grid1">
                        <img src="@item.ImageUrl" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <h4><span>@item.Title</span></h4>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </li>
               }
            </ul>
        </div>
    </div>
</div>