@using EntityLayer.Concrete
@model List<Team>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Takım Arkadaşlarımızın Listesi</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Görev</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td class="py-1"><img src="@item.ImageUrl" alt="image" /></td>
                                <td>@item.TeamID</td>
                                <td>@item.PersonName</td>
                                <td>@item.Title</td>
                                <td><a href="/Team/DeleteTeam/@item.TeamID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Team/EditTeam/@item.TeamID" class="btn btn-outline-success">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <a href="/Team/AddTeam" class="btn btn-outline-info">Yeni Personel Girişi</a>
        </div>
    </div>
</div>