    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Index/">
                    <i class="mdi mdi-home menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Service/Index/">
                    <i class="mdi mdi-circle-outline menu-icon"></i>
                    <span class="menu-title">Hizmetlerimiz</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Team/Index/">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title">Takım Arkadaşlarımız</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Chart/Index/">
                    <i class="mdi mdi-chart-pie menu-icon"></i>
                    <span class="menu-title">Grafikler</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Announcement/Index/">
                    <i class="mdi mdi-format-annotation-minus menu-icon"></i>
                    <span class="menu-title">Duyurular</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Contact/Index/">
                    <i class="mdi mdi-message menu-icon"></i>
                    <span class="menu-title">Gelen Mesajlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Address/Index/">
                    <i class="mdi mdi-map menu-icon"></i>
                    <span class="menu-title">Adres Bilgileri</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Image/Index/">
                    <i class="mdi mdi-image menu-icon"></i>
                    <span class="menu-title">Görseller</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Report/Index/">
                    <i class="mdi mdi-file-document menu-icon"></i>
                    <span class="menu-title">Raporlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Profile/Index/">
                    <i class="mdi mdi-emoticon menu-icon"></i>
                    <span class="menu-title">Ayarlar</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Index/">
                    <i class="mdi mdi-key menu-icon"></i>
                    <span class="menu-title">Admin İşlemleri</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Login/LogOut/">
                    <i class="mdi mdi-exit-run menu-icon"></i>
                    <span class="menu-title">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    
    <!-- main-panel ends -->
