@model AgriculturePresentation.Models.LoginViewModel
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Admin Giriş Formu</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style -->
    <link rel="stylesheet" href="~/snow-login-form-starter/css/style.css" type="text/css" media="all" />
</head>

<body>
    <!-- login form -->
    <section class="w3l-login">
        <div class="overlay">
            <div class="wrapper">
                <div class="logo">
                    <a class="brand-logo" href="index.html">Admin Giriş Formu</a>
                </div>
                <div class="form-section">
                    <h3>Hoşgeldiniz</h3>
                    <form method="post" class="signin-form">
                        <div class="form-input">
                            <input type="text" asp-for="username" placeholder="Kullanıcı Adınız" required="" autofocus>
                        </div>
                        <div class="form-input">
                            <input type="password" asp-for="password" placeholder="Şifreniz" required="">
                        </div>
                        <label class="check-remaind">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <p class="remember">Beni hatırla</p>
                        </label>
                        <button type="submit" class="btn btn-primary theme-button mt-4">Giriş Yap</button>
                    </form>
                </div>
            </div>
        </div>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>

        <!-- copyright -->
        <div class="copy-right">
            <p>&copy; @DateTime.Now.Year Snow Login Form. Tüm hakları saklıdır | Design by <a href="http://w3layouts.com/" target="_blank">W3Layouts</a></p>
        </div>
        <!-- //copyright -->
    </section>

    <!-- /login form -->
</body>

</html>