@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@await Component.InvokeAsync("_DashboardHeaderPartial")

<body>

    @await Component.InvokeAsync("_DashboardNavbarPartial")

    @await Component.InvokeAsync("_DashboardOverviewPartial")

    @await Component.InvokeAsync("_DashboardChartPartial")
   
    @await Component.InvokeAsync("_DashboardTablePartial")
  
    @await Component.InvokeAsync("_DashboardScriptPartial")
    
</body>